.header__container {
    display: grid;
    grid-template-columns: 40% 45%;
    gap: 10%;
    max-height: 35rem;
    margin: 5% 5%;
}

img {
   max-height: 35rem; 
}

.image__container {
    max-height: 30rem;
    border-radius: 3px;
}

.call-to-action {
    margin-top: 4rem;
    margin-bottom: 4rem;
    position: sticky;
    top: 200px;
}

.sticky {
    position: sticky;
    top: 70px;
    background-color: var(--color-bg);
    z-index: 10;
}

