@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #202C39;
    --color-text: #FEF8EC;
    --color-text-alt: #c3a88f;
    --color-bg-variant: #34495B;
    --color-call-to-action: #F06449;
    --color-call-to-action-hover: #f47a58;
    --color-accent-1: #FDF0D5;
    --color-accent-2: #C6D8D3;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --containter-width-sm: 90%;

    --transition-duration: all 350ms ease;

    --button-padding: 0.4rem .9rem;
    --button-font-size: 1.3rem;
    --button-font-weight: bold;
    --button-transition-padding: 0.5rem 1rem;
    --button-transition-text-size: 1.4rem;
    --button-border-radius: 0.1rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: var(--color-bg);
    color: var(--color-text);
    line-height: 1.5;
    /* TODO: Add background Texture */
}

/* _____GENERAL STYLES ________ */

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

h1 {
    font-size:5rem;
    margin-top: -0.5rem;
    margin-bottom: 0rem;
}

h5 {
    font-style: italic;
}

section > h2, 
section > h5 {
    text-align: center;
    color: var(--color-text);
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

section > h2 {
    color: var(--color-accent-1);
}

.text-light {
    color: var(--color-text-alt);
    font-size: 1.4rem;
}

a {
    color: var(--color-text);
    transition: var(--transition-duration)
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-bg);
    background-color: var(--color-call-to-action);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    border: 3px solid var(--color-call-to-action);
    transition: var(--transition-duration);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    margin-top: 0.5rem;
    margin-right: 2rem;
}

.btn-nofill {
    width: max-content;
    display: inline-block;
    color: var(--color-call-to-action);
    padding: var(--button-padding);
    border-radius: var(--button-border-radius);
    cursor: pointer;
    border: 3px solid var(--color-call-to-action);
    transition: var(--transition-duration);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight - .2rem);
    margin-top: 0.5rem;
    margin-right: 2rem;
}

.btn:hover {
    background-color: var(--color-accent-1);
    border-color: transparent;
    transform: scale(1.2)
}

.btn-nofill:hover {
    color: var(--color-bg);
    background-color: var(--color-accent-1);
    border-color: var(--color-accent-1);
    font-weight: var(--button-font-weight);
    transform: scale(1.2)
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* _____ MEDIA QUERY (MEDIUM DEVICE) _____ */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md)
    }

    section {
        margin-top: 6.5rem;
    }

    body {
        margin-left: 15%;
    }
}

/* _____ MEDIA QUERY (SMALL/MOBILE DEVICE) _____ */
@media screen and (max-width: 600px) {
    .container {
        width: var(--containter-width-sm)
    }

    section {
        margin-top: 4rem;
    }

    section > h2{
        margin-bottom: 2rem;
    }

    body {
        margin-left: 5%;
    }

}



